
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.projectInputPage_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* dateProjStartLabel */
.projectInputPage_dateProjStartLabel {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* dateProjStartPicker */
.projectInputPage_dateProjStartPicker {
	margin: 4px 0px 4px 0px;
}
.projectInputPage_dateProjStartPicker .datePickerControls {
	position:relative;
	top:0;
	padding-right:45px;
}
.projectInputPage_dateProjStartPicker .datepickeropenbutton {
	position:absolute;
	right:0;
}
/* dateProjEndLabel */
.projectInputPage_dateProjEndLabel {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* dateProjEndPicker */
.projectInputPage_dateProjEndPicker {
	margin: 4px 0px 4px 0px;
}
.projectInputPage_dateProjEndPicker .datePickerControls {
	position:relative;
	top:0;
	padding-right:45px;
}
.projectInputPage_dateProjEndPicker .datepickeropenbutton {
	position:absolute;
	right:0;
}
/* teamNameDropDown */
.projectInputPage_teamNameDropDown {
	margin: 4px 5px 4px 5px;
}
/* meetingDateLabel */
.projectInputPage_meetingDateLabel {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* meetingDatePicker */
.projectInputPage_meetingDatePicker {
	margin: 4px 0px 4px 0px;
}
.projectInputPage_meetingDatePicker .datePickerControls {
	position:relative;
	top:0;
	padding-right:45px;
}
.projectInputPage_meetingDatePicker .datepickeropenbutton {
	position:absolute;
	right:0;
}
/* meetingNotesText */
.projectInputPage_meetingNotesText {
	margin: 4px 0px 4px 0px;
}
/* submitProjectInfoButton */
#projectInputPage_submitProjectInfoButton {

}
.ui-btn.projectInputPage_submitProjectInfoButton {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.projectInputPage_mobilefooter {
	min-height:38px;
}
/* popWarningMessage */
.projectInputPage_popWarningMessage {

}
div.projectInputPage_popWarningMessage {
	max-height: 100vh;
	box-sizing: border-box;
}
div.projectInputPage_popWarningMessage .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* popUpWarn */
.projectInputPage_popUpWarn {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Georgia; font-size: 24px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* popUpWarnMessage */
.projectInputPage_popUpWarnMessage {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 18px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* submitProjectInfo */
#projectInputPage_submitProjectInfo {

}
.ui-btn.projectInputPage_submitProjectInfo {
	margin: 4px 5px 4px 5px;
}
/* returnToProjInfo */
#projectInputPage_returnToProjInfo {

}
.ui-btn.projectInputPage_returnToProjInfo {
	margin: 4px 5px 4px 5px;
}
/* popConfirmSubmission */
.projectInputPage_popConfirmSubmission {

}
div.projectInputPage_popConfirmSubmission {
	max-height: 100vh;
	box-sizing: border-box;
}
div.projectInputPage_popConfirmSubmission .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
}
/* popConfirmMessage */
.projectInputPage_popConfirmMessage {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: center; font-family: Helvetica; font-size: 18px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* dismissConfirmMessage */
#projectInputPage_dismissConfirmMessage {

}
.ui-btn.projectInputPage_dismissConfirmMessage {
	margin: 4px 5px 4px 5px;
}