
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.submissionSuccessfulMessage_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* successfulPopMessage */
.submissionSuccessfulMessage_successfulPopMessage {
	text-decoration: none; font-weight: bold; color: #5ad675; text-align: center; font-family: Helvetica; font-size: 28px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* dismissSuccessfulPopMessage */
#submissionSuccessfulMessage_dismissSuccessfulPopMessage {

}
.ui-btn.submissionSuccessfulMessage_dismissSuccessfulPopMessage {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.submissionSuccessfulMessage_mobilefooter {
	min-height:38px;
}